Q54. Ask a number from user. Print all the numbers from 1 to that number.

In [7]:
num = int(input("Enter the number: "))

for i in range(1, num+1):
  print(i)

Enter the number: 5
1
2
3
4
5

Q55. Ask a number (N) from user. Print all the numbers from N to 1

In [6]:
N = int(input("Enter the number: "))

for i in range(N, 0, -1):
  print(i)

Enter the number: 4
4
3
2
1

Q56. Ask start number and end number from user. Print all the numbers
from start to end using while loop.

In [8]:
num1 = int(input("Enter the start number: "))
num2 = int(input("Enter the end number: "))

for i in range(num1, num2+1):
  print(i)

Enter the start number: 4
Enter the end number: 9
4
5
6
7
8
9

Q57. Calculate the sum of all the numbers from 1 to 10

In [10]:
sum_num = 0

for i in range(1, 11):
  sum_num += i

sum_num

55

Q58. Calculate product of all the numbers from 1 to 10.

In [11]:
pro_num = 1

for i in range(1, 11):
  pro_num *= i

print(pro_num)

3628800

Q59. Calculate how many numbers are divisible by 7 from 1 to 100.

In [13]:
div_by_seven = 0

for i in range(1, 101):
  if i % 7 == 0:
    div_by_seven += 1

print(div_by_seven)

14

Q60. Calculate how many numbers are divisible by both 6 and 7 between 1
to 200.

In [14]:
div_by_six_sev = 0

for i in range(1, 201):
  if i%6 == 0 and i%7 == 0:
    div_by_six_sev += 1

print(div_by_six_sev)

4

Q61. Write a program to calculate the sum of all the numbers divisible by 4
from 20 to 50

In [16]:
sum_num = 0

for i in range(20, 51):
  if i%4 == 0:
    sum_num += i

print(sum_num)

272

Q62. Calculate how many numbers are divisible by 6 and 7 between 1 to
200.

In [17]:
sum_num = 0

for i in range(1, 201):
  if i%6 == 0 and i%7 ==0:
    sum_num += 1

sum_num

4

Q63. Ask a number from user. Print the multiplication table of that number.

In [20]:
num = int(input("Enter the number: "))

for i in range(1, 11):
  print(f"{num} x {i} = {i*num}")

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q64. Calculate factorial of a number entered by user.

In [22]:
num = int(input("Enter the number: "))
factorial = 1
for i in range(num, 0, -1):
  factorial  *= i

print(factorial)

Enter the number: 5
120

Q65. Ask to numbers x and y from the user. If x<y then print all the
numbers from x to y, but if y<x then print all the numbers from y to x

In [30]:
x = int(input("Enter the x number: "))
y = int(input("Enter the y number: "))

if x<y:
  for i in range(x, y+1):
    print(i)
elif y<x:
  for i in range(y ,x+1):
    print(i)
else:
  ...

Enter the x number: 5
Enter the y number: 3
3
4
5

In [ ]:
55